@media ( max-width:1072px ){
  .container{
    margin-top: 8rem;
  }
  .navbar {
    display: block;
    text-align: center;
  
    ul {
      text-align: center;
      justify-content: center;
    }
  
    h1 {
      margin-bottom: 1rem;
    }
  }
  
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

}


@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  
  .container{
      margin-top: 10rem;
  }

//texts
.x-large{
    font-size: 3rem;
}
.large{
    font-size: 2rem;
}
.lead{
    font-size: 1rem;
}


// profile
.profile{
    grid-template-columns: 1fr;
    text-align: center;
    ul{
        display: none;
    }
}
.profile-grid{
    grid-template-areas: 
    'top'
    'about'
    'exp'
    'edu'
    'github';
    .profile-about{
        .skills{
            flex-direction: column;
        }
    }
}

// navbar
 // Navbar


 


/* notififications  */
.notifs{
  position: relative;
}
.notifs-block{
  position: absolute;
  top:36px;
  right:300px; 
  width: 204px;
  background-color: #444;
  display: none;
}
.show{
  display: block;
}



.notifs-block a{
  width: 99%;
  display: block;
  border-bottom:1px solid #17a2b2;
  /* border: 1px solid blue; */
  margin-left: 0;
} 
.notifs-block a.seen , .notifs-block a:hover {
  background-color: #222;
}

/* end notifications */






.post{
    grid-template-columns: 1fr;
    .post-body{
      width: 1px solid #333;
    }
    
    a,button{
        padding: 0.3rem 0.4rem;
    }

    &-info{
      display: block;
      .user{
        width: 100%;
        .username{
          position: absolute;
          left: 45%;
        }
      }
      .content{
        width: 100%;
      }
    }

  }


   

    .comment-info{
      grid-template-columns: 1fr !important;
    }    

}
